.buttonSpace {
    padding-bottom: 1%;
}

#reset, #start {
    margin-left: 5%;
    
}

.gameButton {
    width: 35%;
    margin: auto;
}

.responses {
    text-align: right;
}

.jumbotron {
    margin-bottom: 0;
}
