.buttonSpace {
    padding-bottom: 1%;
}

#reset, #start {
    margin-left: 5%;
    
}

.gameButton {
    width: 35%;
    margin: auto;
}

.responses {
    text-align: right;
}

.jumbotron {
    margin-bottom: 0;
    font-family: 'Indie Flower', cursive;
    background-image: url("../images/seigaiha.png")
}

h3, h4, #gameDesc {
    font-family: 'Hind', sans-serif;
}

body {
    background-image: url("../images/avatar.png");
}

